<div id="common-top">
<h1>Posts in all followed boards</h1>
<% @show_board = true %>
<% @post = Post.new
@post.thread_id = 0 %>

<% @inboard = false %>
<%= render file: "postform" %>
</div>

<div id="content">
<%= render file: "pagenav" %>
<%= render file: "threads" %>
<%= render file: "pagenav" %>
</div>
