<%= tag("div", { class: "ukkoElement", id: @board.id }, true) %>
<div class="boardLink">
<%= link_to("/"+@board.url+"/ - "+@board.name, "/"+@board.url) %>
</div>
<div class="unsub"><%= image_tag("icon-hide.png") %></div>
</div>
