<div id="banform">
<%= form_tag "/#{@board.url}/ban" do %>
<div class="row">
<div class="left-cell">
<%= label_tag "ip" %>
</div>
<div class="noalign-cell">
<%= text_field_tag "ip", @ip %>
</div>
</div>

<div class="row">
<div class="left-cell">
<%= label_tag "plain ip" %>
</div>
<div class="noalign-cell">
<%= text_field_tag "plain ip" %>
</div>
</div>

<div class="row">
<div class="left-cell">
<%= label_tag "id" %>
</div>
<div class="noalign-cell">
<%= text_field_tag "id", @id %>
</div>
</div>

<div class="row">
<div class="left-cell">
<%= label_tag "duration" %>
</div>
<div class="noalign-cell">
<%= text_field_tag "duration" %>
</div>
</div>

<div class="row">
<div class="left-cell">
<%= label_tag "reason" %>
</div>
<div class="noalign-cell">
<%= text_field_tag "reason" %>
</div>
</div>

<div class="row">
<div class="left-cell">
<%= label_tag "notice" %>
</div>
<div class="noalign-cell">
<%= text_field_tag "notice", '<span style="color:red">( User was banned from this post )</span>' %>
</div>
</div>
<br>
<%= submit_tag "add ban" %>
<% end %>
</div>
