<center>
<h1><%= t("settings") %></h1>
<%= t("settings_description") %>
</center>

<div class="tabs">
  <div class="tab-links">
    <a href="#general" class="tablink-active" id="general-tablink"><%= t("general_settings") %></a>
    <a href="#account" class="tablink" id="account-tablink"><%= t("account_settings") %></a>
    <a href="#boards" class="tablink" id="boards-tablink"><%= t("boards_settings") %></a>
  </div>

  <div class="tab-content">
    <div id="general" class="tab-active">
      <% user = @user %>
      <%= form_for( user, url: "/settings/save" ) do |f| %>

      <p>
      <%= f.label t("use_sidebar") %><br>
      <% arr = [["Never", 0], ["Always", 1], ["Use board defaults", 2]] %>
      <%= f.select("show_sidebar", options_for_select(arr, user.show_sidebar), {}, {class: "settings-select"}) %>
      </p>
      <br>
      <p>
      <%= f.label(t("stylesheet")) %><br>
      <% arr2 = [["Use board defaults", ""],
                ["Northboard", "northboard"],
                ["Dark", "dark"],
                ["Orange", "orange"],
                ["Yotsuba", "yotsuba"]] %>
      <%= f.select("stylesheet", options_for_select(arr2, user.stylesheet), {}, {class: "settings-select"}) %>
      </p>
      <br>
      <p>
      <%= f.label t("return_after_post") %>
      <br>
      <% arr3 = [["Board", 0],
                ["Thread", 1],
                ["Overboard", 2]] %>
      <%= f.select("post_noko", options_for_select(arr3, user.post_noko), {}, {class: "settings-select"}) %>
      </p>
      <br>
      <p>
      <%= f.label t("language") %>
      <br>
      <% arr4 = [["English", "en-US"],
                ["Finnish", "fi-FI"]] %>
      <%= f.select("locale", options_for_select(arr4, user.locale), {}, {class: "settings-select"}) %>
      </p>
      <br>
      <p>
      <%= f.check_box :save_scroll %>
      <%= f.label t("dont_scroll") %>
      </p>

      <p>
      <%= f.check_box :hide_names %>
      <%= f.label t("anonymize_all") %><br>
      </p>

      <p>
      <%= f.check_box :hide_region %>
      <%= f.label t("hide_region") %>
      </p>

      <h3><%= t("performance") %></h3>
      <%= t("unchecking_notice") %>
      <p>
      <%= f.check_box :autoload_media %>
      <%= f.label t("autoload_media") %>
      </p>
      <p>
      <%= f.check_box :autoplay_gifs %>
      <%= f.label t("auto_animate") %>
      </p>
      <br>

      <%= f.submit t("save_settings") %><br>

      <% end %>

      <h3><%= t("hidden_threads") %></h3>
      <% hidden = Hide.where(uid: @user.uid) %>
      <% hidden.each do |h| %>
      <%= tag("div", { class: "hidden_thread", id: h.post.to_s }, true) %>
      <div id="threadid">
      ID: <%= h.post %>
      </div>
      <div id="threadsubject">
      <% s = Post.find(h.post).subject.to_s %>
      <% if s=="" %>
      <%= raw Post.find(h.post).message.my_strip(40, "...") %>
      <% else %>
      <%= Post.find(h.post).subject.my_strip(40, "...") %>
      <% end %>
      </div>
      <div id="floater">
      <div id="hiddentime">
      <%= h.time.to_s %>
      </div>
      <%= link_to(image_tag("icon-restore.png"), "", { id: "unhide", title: "restore thread" }) %>
      </div>
      </div>
      <% end %>
    </div>

    <div id="account" class="tab-hidden">
      <% if user.password.empty? %>
      <p><%= t("no_account") %>
      <div id="createaccount" class="table-container">
      <%= form_tag("settings/createaccount") do %>
      <div class="row">
      <div class="left-cell"><%= label_tag( :uname, t("username")) %></div>
      <div class="cell"><%= text_field_tag( :uname ) %></div>
      </div>
      <div class="row">
      <div class="left-cell"><%= label_tag( :password, t("password") ) %></div>
      <div class="cell"><%= password_field_tag( :password ) %></div>
      </div>
      </div>
      <%= submit_tag t("create_account"), class: "button" %>
      <% end %>
      </div>
      <% else %>
      <p>
      <%= t("logged_as") %><b> <%= user.uname %></b>
      </p>
      <p>
      <%= t("change_password") %>
      <div id="changepassword" class="table-container">
      <%= form_tag("settings/changepassword") do %>
      <div class="row">
      <div class="left-cell"><%= label_tag( :oldpass, t("old_password") ) %></div>
      <div class="cell"><%= password_field_tag( :oldpass ) %></div>
      </div>
      <div class="row">
      <div class="left-cell"><%= label_tag( :newpass, t("new_password") ) %></div>
      <div class="cell"><%= password_field_tag( :newpass ) %></div>
      </div>
      <div class="row">
      <div class="left-cell"><%= label_tag( :newpass2, t("new_password_again") ) %></div>
      <div class="cell"><%= password_field_tag( :newpass2 ) %></div>
      </div>
      <%= submit_tag t("change_password2"), class: "button" %>
      <% end %>
      </div>
      </p>
      <p>
      <%= t("active_logins") %>
      </p>
      <div class="table-container" id="active-logins">
        <div class="row">
          <div class="cell">
            <%= t("login_source") %>
          </div>
          <div class="cell">
            <%= t("login_time") %>
          </div>
          <div class="cell">
            <%= t("login_last_load") %>
          </div>
          <div class="cell">
            <%= t("login_actions") %>
          </div>
        </div>
        <% @logins.each do |l| %>
        <div class="row">
          <div class="cell">
            <%= l.browser %>
          </div>
          <div class="cell">
            <%= l.created_at.strftime("%d.%m.%Y %H:%M:%S") %>
          </div>
          <div class="cell">
            <%= l.updated_at.strftime("%d.%m.%Y %H:%M:%S") %>
          </div>
          <div class="cell">
            <% if l.series == @series %>
            <%= t("current_session") %>
            <% else %>
            <%= link_to(t("logout"), "login/delete/"+l.id.to_s) %>
            <% end %>
          </div>
        </div>
        <% end %>
      </div>
      <% end %>
    </div>

    <div id="boards" class="tab-hidden">
      <% if user.password.empty? %>
      <p><%= t("cannot_have_created") %></p>
      <% else %>
      <% if user.boards.count!=0 %>
      <p><%= t("boards_here") %></p>
      <% user.boards.each do |b| %>
      <%= b.name %> | <%= link_to t("board_edit"), "/"+b.url+"/mod" %><br>
      <% end %>
      <% else %>
      <p><%= t("no_boards") %>
      <a href="/createboard"><%= t("no_boards2") %></a></p>
      <% end %>
      <% end %>
    </div>
  </div> 
</div>
