<h1>Global unchecked reports</h1>
<% if @reports.empty? %>
There are no unchecked reports.
<% else %>
<div id="reports-table">
<div class="row">
<div class="cell">
Board
</div>
<div class="cell">
Post
</div>
<div class="cell">
Reason
</div>
<div class="cell">
Description
</div>
<div class="cell">
Date
</div>
<div class="cell">
Status
</div>
</div>

<% @reports.each do |r| %>
<div class="row">
<div class="cell">
/<%= r.board.url %>/
</div>
<div class="cell">
<%= link_to ">>#{r.post_id}", "/redirect/#{r.post_id}" %>
</div>
<div class="cell">
<%= r.reason %>
</div>
<div class="cell">
<%= r.description %>
</div>
<div class="cell">
<%= r.created_at.strftime("%d.%m.%y %H:%M:%S") %>
</div>
<div class="cell">
<%= link_to "Checked", "/checkreport/#{r.id}" %>
</div>
</div>
<% end %>
</div>
<% end %>
