<h1><%= t("deleting_board") %> <%= @board.name %></h1>
<h2><%= t("deleting_allposts") %></h2>
<center>
<%= form_tag("/#{@board.url}/delete") do %>
<%= submit_tag :confirm, {class: "button"} %>
<% end %>
</center>
