<% user = @user %>
<h1><%= t("createboard") %></h1>
<% if @board.nil? && !user.password.empty? %>
<%= form_tag("/createboard") do %>
<div class="form-createboard">
<div id="table-container">
<div class="row">s
<div class="left-cell"><%= label_tag :url, t("new_board_url") %></div>
<div class="cell">pohjoislauta.fi/<input id="url" type="text" name="url">/</div>
</div>
<div class="row">
<div class="left-cell"><%= label_tag :name, t("new_board_name") %></div>
<div class="cell"><%= text_field_tag :name %></div>
</div>
<div class="row">
<div class="left-cell"><%= label_tag :description, t("new_board_description") %></div>
<div class="cell"><%= text_field_tag :description %></div>
</div>
<div class="row">
<div class="left-cell"><%= label_tag :namefield, t("new_board_namefield") %></div>
<% namefield_arr = [[t("new_board_namefield0"),0],[t("new_board_namefield1"),1],[t("new_board_namefield2"),2]] %>
<div class="cell"><%= select_tag :namefield, options_for_select(namefield_arr) %></div>
</div>
<div class="row">
<div class="left-cell"><%= label_tag :hide_sidebar, t("new_board_sidebar") %></div>
<div class="cell"><%= check_box_tag :hide_sidebar %></div>
</div>
<div class="row">
<div class="left-cell"><%= label_tag :international, t("new_board_international") %></div>
<div class="cell"><%= check_box_tag :international %></div>
</div>
<div class="row">
<div class="left-cell"><%= label_tag :worksafe, t("new_board_worksafe") %></div>
<div class="cell"><%= check_box_tag :worksafe %></div>
</div>
<div class="row">
<div class="left-cell"><%= label_tag :hidden, t("new_board_hidden") %></div>
<div class="cell"><%= check_box_tag :hidden %></div>
</div>
</div>
<br>
<%= submit_tag t("new_board_create"), class: "button" %>
</div>
<% end %>
<% elsif @board.nil? && user.password.empty? %>
<%= t("reg_only") %>
<% elsif !@board.nil? %>
<% if @board.valid? %>
<%= t("board_created") %>
<% else %>
<%= t("board_errors") %>
<br>
<% @board.errors.each do |e| %>
<% e.full_messages.each do |p| %>
<%= p %>
<br>
<% end %>
<% end %>
<% end %>
<% end %>
