<% current = @threads.pop %>
<div id="common-top">

<div id="board-actions">
<% if @user.overboard.boards.find_by(id: @board.id).nil?  %>
<%= link_to(t("overboard_add"), "/subscribe/"+@board.id.to_s, class: "button") %> 
<% else %>
<%= link_to(t("overboard_remove"), "/unsubscribe/"+@board.id.to_s, class: "button") %> 
<% end %>

<% if @board.user == @user %>
<%= link_to(t("board_edit"), "/"+@board.url+"/mod", class: "button") %>
<% end %>
</div>

<p class="title">
<%= current %>
<% if @board.worksafe==true %>
 <font color="green" size="3">( SFW )</font>
<% else %>
 <font color="red" size="3">( NSFW )</font>
<% end %>
</p>
<p class="title_sub"><%= @board.description %></p>
<hr class="horline"></hr>
<% @post = Post.new
@post.thread_id = 0
@post.board_id = @board.id %>

<% if !@user.is_banned_from(@board) %>
<% @inboard = true %>
<%= render file: "postform" %>
<% else %>
<div class="notice">
<%= t("banned") %>
</div>
<% end %>
</div>

<div id="content">
<%= render file: "pagenav" %>
<%= render file: "threads" %>
<%= render file: "pagenav" %>
</div>
