<% current = @finalboard.pop
burl = Board.find_by(name: current).url
 %>
<%= @error %>

<div id="common-top">
<h1>Posts in <%= current %></h1>
<% @post = Post.new
@post.thread_id = 0 %>

<div id="postform">
<%= form_for(@post, url: "/post") do |f|%>
<%= f.hidden_field :thread_id %>

<div class = "board">
<span class="label"><%= f.label :board %></span>
<%= f.select("board_id", Board.all.collect {|b| [b.name, b.id] }) %>
</div>

<div class = "funbuttons">
<%= f.check_box :sage %>
<%= f.label :sage, id: "sage" %>
<%= f.check_box :rage %>
<%= f.label :rage, id: "rage" %>
<%= f.check_box :love %>
<%= f.label :love, id: "love" %>
<%= f.check_box :noko %>
<%= f.label :noko, id: "noko" %>
</div>

<div class = "subject">
<span class="label"><%= f.label :subject, class: "subject" %></span>
<%= f.text_field :subject, class: "subject" %>
</div>

<div class = "message">
<span class="label"><%= f.label :message%></span>
<%= f.text_area :message %>
</div>

<div class="attachment">
<span class="label"><%= f.label :attachment %></span>
<%= f.file_field :attachment %>
</div>

<%= f.submit %>
<% end %>
</div>
</div>

<div id="content">
<% omitted = @finalboard.delete_at(1) %>
<% if @finalboard.blank? %>
<p>There are no posts in this board.</p>
<% else
@finalboard.each_with_index do |p, i|
if p.is_a? Integer %>
<font size="2" ><%= link_to p.to_s+" messages omitted. Click here to show", "/expand/"+@finalbaord[i-1].id.to_s, :remote => true unless p <= 0%></font>
<% else
if p.thread_id == 0 %>

<div class="thread">
<div class="post">

<div class="fileinfo_single">
<% if p.attachment.url(:original)!="/attachments/original/missing.png" %>
<% filename=p.attachment.url(:original).split("/").last.split("?").first %>
<%= link_to filename, p.attachment.url(:original) %>
( <%= p.attachment.image_size+"px" %> )
<% end %>
</div>

<% if p.attachment.url(:thumb)!="/attachments/thumb/missing.png" %>
<div class="file_single">
<%= link_to image_tag(p.attachment.url(:thumb)), "/togglethumb/"+p.id.to_s, :remote => true, :id => "thumb"+p.id.to_s  %>
</div>
<% end %>
<div class="postinfo">
<%= p.created_at.to_s %>
No: <%= link_to p.id, "/"+p.board.url+"/"+p.id.to_s %>
<%= link_to("Reply", "/"+burl+"/"+p.id.to_s, class: "button") %>
</div>
<p><%= raw p.formatMessage %></p>
<% else %>

<div class="answer">
<h3><%= raw p.formatSubject %></h3>
<% if p.attachment.url(:thumb)!="/attachments/thumb/missing.png" %>
<%= link_to image_tag(p.attachment.url(:thumb)), "/togglethumb/"+p.id.to_s, :remote => true, :id => "thumb"+p.id.to_s  %>
<% end %>
ID: <%= p.id %>
<p><%= raw p.formatMessage %></p>
</div>
<% end %>
</div>
</div>
<% end %>
<% end %>
<% end %>
</div>
