<h1><%= @board.name %> <%= t("threadlist")</h1>
<div id="threadlist">
<% @threads.each do |p| %>
<div class="row">
<div class="cell">
<p>
No. <%= link_to(p.id.to_s, "/"+p.board.url+"/"+p.id.to_s) %>
<% if p.subject.empty? %>
<b>- <%= t("no_subject") %></b>
<% else %>
<b>- <%= p.subject %></b>
<% end %>
<br>
<%= p.created_at.strftime("%d.%m.%Y %H:%M:%S") %>
</p>
</div>

<div class="cell">
<%= raw p.message %>
</div>
</div>
<% end %>
</div>
