<h1><%= @board.name %><%= t("adminpanel") %></h1>
<% user = @user %>
<% if @board.valid? %>
<div id="board-settings">
<% if user.perm("change_settings", @board.url) %>
<div id="board-properties">
<h2><%= t("board_properties") %></h2>
<div class="form">
<%= form_tag do |f| %>
<div class="table-container">
<div class="row">
<div class="left-cell"><%= label_tag :name, t("name") %></div>
<div class="noalign-cell"><%= text_field_tag :name, nil, value: @board.name %></div>
</div>
<div class="row">
<div class="left-cell"><%= label_tag :description, t("description") %></div>
<div class="noalign-cell"><%= text_field_tag :description, nil, value: @board.description %></div>
</div>
<div class="row">
<div class="left-cell"><%= label_tag :namefield, t("new_board_namefield") %></div>
<div class="noalign-cell"><%= select_tag :namefield, options_for_select([
                            [t("new_board_namefield0"), "0"],
                            [t("new_board_namefield1"), "1"],
                            [t("new_board_namefield2"), "2"]], @board.namefield.to_s) %></div>
</div>
<div class="row">
<div class="left-cell"><%= label_tag :international, t("new_board_international") %></div>
<div class="noalign-cell"><%= check_box_tag :international, 1, @board.international %></div>
</div>
<div class="row">
<div class="left-cell"><%= label_tag :worksafe, t("new_board_worksafe") %></div>
<div class="noalign-cell"><%= check_box_tag :worksafe, 1, @board.worksafe %></div>
</div>
<div class="row">
<div class="left-cell"><%= label_tag :hide_sidebar, t("new_board_sidebar") %></div>
<div class="noalign-cell"><%= check_box_tag :hide_sidebar, 1, @board.hide_sidebar %></div>
</div>
<div class="row">
<div class="left-cell"><%= label_tag :hidden, t("new_board_hidden") %></div>
<div class="noalign-cell"><%= check_box_tag :hidden, 1, @board.hidden %></div>
</div>
</div>
<div class="submit"><%= submit_tag t("save_settings"), class: "button" %></div>
</div>
<% end %>
</div>
<% end %>

<% if user==@board.user %>
<div id="board-permissions">
<h2><%= t("admin_privileges") %></h2>
<div id="permission-table">
<div class="row">
<div class="cell"><%= t("username") %></div>
<div class="cell"><%= t("ban") %></div>
<div class="cell"><%= t("unban") %></div>
<div class="cell"><%= t("check_reports") %></div>
<div class="cell"><%= t("change_settings") %></div>
<div class="cell"><%= t("change_rules") %></div>
<div class="cell"><%= t("stick_threads") %></div>
<div class="cell"><%= t("lock_threads") %></div>
<div class="cell"><%= t("delete_posts") %></div>
</div>
<% permissions = @board.board_permissions %>
<% if permissions.empty? %>
<%= t("no_permissions") %>
<% end %>
<% users = User.where(uid: permissions.map{|p| p.uid}) %>
<% perms = permissions.map{|p| p.permission} %>
<% permissions.each do |p| %>
<div class="row">
<div class="cell">
<%= User.find_by(uid: p.uid).uname %>
</div>
<div class="cell">
<%= raw({true=>'<span class="yes">V</span>', false=>'<span class="no">X</span>'}[p.permission["ban"]]) %>
</div>
<div class="cell">
<%= raw({true=>'<span class="yes">V</span>', false=>'<span class="no">X</span>'}[p.permission["unban"]]) %>
</div>
<div class="cell">
<%= raw({true=>'<span class="yes">V</span>', false=>'<span class="no">X</span>'}[p.permission["check_reports"]]) %>
</div>
<div class="cell">
<%= raw({true=>'<span class="yes">V</span>', false=>'<span class="no">X</span>'}[p.permission["change_settings"]]) %>
</div>
<div class="cell">
<%= raw({true=>'<span class="yes">V</span>', false=>'<span class="no">X</span>'}[p.permission["change_rules"]]) %>
</div>
<div class="cell">
<%= raw({true=>'<span class="yes">V</span>', false=>'<span class="no">X</span>'}[p.permission["stick_threads"]]) %>
</div>
<div class="cell">
<%= raw({true=>'<span class="yes">V</span>', false=>'<span class="no">X</span>'}[p.permission["lock_threads"]]) %>
</div>
<div class="cell">
<%= raw({true=>'<span class="yes">V</span>', false=>'<span class="no">X</span>'}[p.permission["delete_posts"]]) %>
</div>
</div>
<% end %>
</div>

<div id="permission-form" class="table-container">
<%= t("add_permission") %>
<%= form_tag "/perms/create" do %>
<%= hidden_field_tag :board, @board.id %>
<div class="row">
<div class="left-cell"><%= label_tag :username, t("username") %></div>
<div class="noalign-cell"><%= text_field_tag :username %></div>
</div>
<div class="row">
<div class="left-cell"><%= label_tag :can_ban, t("can_ban") %></div>
<div class="noalign-cell"><%= check_box_tag :can_ban %></div>
</div>
<div class="row">
<div class="left-cell"><%= label_tag :can_unban, t("can_unban") %></div>
<div class="noalign-cell"><%= check_box_tag :can_unban %></div>
</div>
<div class="row">
<div class="left-cell"><%= label_tag :can_check_reports, t("can_check_reports") %></div>
<div class="noalign-cell"><%= check_box_tag :can_check_reports %></div>
</div>
<div class="row">
<div class="left-cell"><%= label_tag :can_change_settings, t("can_change_settings") %></div>
<div class="noalign-cell"><%= check_box_tag :can_change_settings %></div>
</div>
<div class="row">
<div class="left-cell"><%= label_tag :can_change_rules, t("can_change_rules") %></div>
<div class="noalign-cell"><%= check_box_tag :can_change_rules %></div>
</div>
<div class="row">
<div class="left-cell"><%= label_tag :can_stick_threads, t("can_stick_threads") %></div>
<div class="noalign-cell"><%= check_box_tag :can_stick_threads %></div>
</div>
<div class="row">
<div class="left-cell"><%= label_tag :can_lock_threads, t("can_lock_threads") %></div>
<div class="noalign-cell"><%= check_box_tag :can_lock_threads %></div>
</div>
<div class="row">
<div class="left-cell"><%= label_tag :can_delete_posts, t("can_delete_posts") %></div>
<div class="noalign-cell"><%= check_box_tag :can_delete_posts %></div>
</div>
<%= submit_tag :submit %>
<% end %>
</div>
<br>
<%= link_to t("delete_board"), "/#{@board.url}/delete", {class: "button", id: "deleteboard"} %>
</div>
<% end %>

<% if user.perm("check_reports", @board.url) %>
<div id="board-reports">
<% reports = @board.reports.where(checked: false) %>
<div id="reports-table">
<h2><%= t("reports") %></h2>
<% if !reports.empty? %>
<div class="row">
<div class="cell">
<%= t("post") %>
</div>
<div class="cell">
<%= t("reason") %>
</div>
<div class="cell">
<%= t("description") %>
</div>
<div class="cell">
<%= t("date") %>
</div>
<div class="cell">
<%= t("status") %>
</div>
</div>
<% @board.reports.where(checked: false).each do |r| %>
<div class="row">
<div class="cell">
<span class="reference"><%= link_to ">>#{r.post_id}", "/redirect/#{r.post_id}" %></span>
</div>
<div class="cell">
<% if r.reason==nil || r.reason.empty? %>
Undefined
<% else %>
<%= ReportReason.find(r.reason).name %>
<% end %>
</div>
<div class="cell">
<%= r.description %>
</div>
<div class="cell">
<%= r.created_at.strftime("%d.%m.%y %H:%M:%S") %>
</div>
<div class="cell">
<%= link_to "Checked", "/checkreport/#{r.id}/" %>
</div>
</div>
<% end %>
<% else %>
<%= t("no_reports") %>
<% end %>
</div>
</div>
<% end %>

<% if user.perm("ban", @board.url) || user.perm("unban", @board.url) %>
<div id="board-bans">
<div id="bans-table">
<h2><%= t("bans") %></h2>
<div class="row">
<div class="cell">
<%= t("reason") %>
</div>
<div class="cell">
<%= t("added") %>
</div>
<div class="cell">
<%= t("length_expires") %>
</div>
<div class="cell">
<%= t("banned_by") %>
</div>
<div class="cell">
<%= t("remove") %>
</div>
</div>

<% Ban.where(board: @board.id).order(created_at: :desc).each do |b| %>
<div class="row">
<div class="cell">
<%= b.reason %>
</div>
<div class="cell">
<%= b.created_at.strftime("%d.%m.%y %H:%M:%S") %>
</div>
<div class="cell">
<%= (b.expires - b.created_at).to_i %> seconds
(<%= b.expires.strftime("%d.%m.%y %H:%M:%S") %>)
</div>
<div class="cell">
<%= b.banned_by %>
</div>
<div class="cell">
<%= link_to t("remove"), "/unban/#{b.id}" %>
</div>
</div>
<% end %>
</div>
</div>

<% if user.perm("change_rules", @board.url) %>
<div id="board-rules">
<h2><%= t("reasons_rules") %></h2>
<div id="rules-table">
<div class="row">
<div class="cell">
<%= t("name") %>
</div>
<div class="cell">
<%= t("description") %>
</div>
</div>
<% @board.report_reasons.each do |r| %>
<div class="row">
<div class="cell">
<%= r.name %>
</div>
<div class="cell">
<%= r.description %>
</div>
</div>
<% end %>
</div>

<h3><%= t("add_reason") %></h3>
<div id="rules-form">
<%= form_tag "/rules/create" do %>
<%= hidden_field_tag :board, @board.id %>
<%= label_tag :name, t("name") %>
<br>
<%= text_field_tag :name %>
<br>
<%= label_tag :description, t("description") %>
<br>
<%= text_field_tag :description %>
<br>
<%= submit_tag :submit %>
<% end %>
</div>
</div>
<% end %>

<% end %>
</div>
<% if @saved==true %>
<%= t("board_saved") %>
<% end %>
<% else %>
<%= t("error") %>
<% end %>
