// Place all the styles related to the Boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  height: 100%;
}
.op-post {
}
html, body, #wrapper {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.horline {
    border-width: 0px 0px 1px;
    border-style: none none solid;
    border-color: -moz-use-text-color -moz-use-text-color #999;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    margin: 15px 0px;
}

.loading-cache {
  display: none;
}

//===========//
// FRONTPAGE //
//===========//
#frontpage-content {
  max-width: 1400px;
  height: auto;
  min-height: 700px;
  margin-left: auto;
  margin-right: auto;
}

#postform-frontpage {
  margin: 2px 5px;
}

#news {
  display: block;
  float: left;
  margin: 5px;
  height: auto;
  min-height: 700px;
  width: 33%;
}

#mainstuff {
  float: left;
  max-width: 700px;
}

.fp-post {
  margin: 2px 5px;
  p {
    margin-left: 5px;
  }
}

.fp-postinfo {
  padding-left: 5px;
}

//search
.searchresults {
  display: table;
  border-collapse: collapse;
  width: 100%;
  div[class^="cell"] {
    padding: 5px;
  }
  .cell-board {
  
  }
  .cell-subject {
    
  }
}

//==========//
// TOOLTIPS //
//==========//
a.tooltip {outline:none; line-height: 26px; margin-left: 4px;}
a.tooltip:hover {text-decoration:none;} 
a.tooltip .tooltip-out {
    z-index:10;display:none;
    margin-top:60px; margin-left:-160px;
    width:300px; line-height:16px;
}
a.tooltip:hover .tooltip-out{
    display:inline; position:absolute;
}
.callout {z-index:20;position:absolute;border:0;top:-14px;left:120px;}

.singlepost-tooltip {
  z-index: 10;
  display: none;
  position: absolute;
  margin-top: 30px;
  
}

.help-tooltip-header {
  padding: 3px;
}
    
/*CSS3 extras*/
a.tooltip .tooltip-out
{
  width: auto;
  white-space: nowrap;
}

//=========//
// GENERAL //
//=========//
.boardnav {
  a img { vertical-align:middle; }
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  padding: 10px;
}

.boardnav-mobile {
  position: fixed;
  display: flex;
  align-items:center;
  top: 0px;
  right: 0px;
  left: 0px;
  height: 10vh;
  padding: 2vh;
  span { vertical-align: middle; }
}

#post-operations {
  display: none;
  z-index: 10;
  width: 300px;
  height: 200px;
  position: fixed;
  padding: 5px;
  bottom:150px;
  right:0px;
}

.notice {
  text-align: center;
  padding: 2px;
}

//=========//
// SIDEBAR //
//=========//
#left {
  width: 190px;
  height: 100%;
  padding: 0px 5px;
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  overflow: auto;
  
  #logo {
    margin-top: 5px;
    text-align: center;
    a:hover {
      background: transparent;
    }
  }
  // Login //
  #login {
    display: table;
    #uname, #password {
      margin-top: 2px;
      width: 98%;
      float: left;
    }
    .row {
      text-align: left;
    }
    .cell {
      text-align: left;
      input {
        float: none;
      }
    }
  }
  
  h1 {
    margin: 5px 0px;
    padding: 5px;
    text-align: center;
  }
  
  .category {
    margin-top: 5px;
  }
  
  .unsub {
    text-align: right;
  }
  .sub {
    text-align: right;
  }
  
  .fb-header {
    margin-top: 5px;
  }
  
  a {
    display: block;
  }
  
  a#hanki {
    margin-top: 10px;
    text-align: center;
  }
}

#board-actions {
  text-align: right;
  .button {
    padding: 10px;
    display: inline-block;
  }
}

#hide-sidebar {
  position: fixed;
  left: 200px;
  top: 50%;
  width: 15px;
  a {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
  }
}

#right-mobile {
  margin: 0px 5px 0px 208px;
  margin-top: 15vh;
  padding: 0px 5px;
}
#right {
  padding: 40px 5px;
}

.boardnav-right {
  height: 100%;
  width: 50%;
  text-align: right;
  img {
    height: 100%;
  }
}
.boardnav-left {
  height: 100%;
  width: 50%;
  span {
    vertical-align: middle;
  }
}

//==========//
// POSTFORM //
//==========//
#postform {
  display: table;
  margin-left: auto;
  margin-right: auto;
  border-collapse: separate;
  border-spacing: 2px;
  .left-cell label {
    float: left;
  }
  input {
    height: 24px;
  }

  input[type="text"] {
    display: inline-block;
  }
  input[type="password"] {
    float: right;
  }
  input[type="file"] {
    margin-left: 5px;
    float: left;
  }
  input[type="checkbox"] {
    height: initial;
  }
  input[type="submit"] {
    height: 28px;
    margin-bottom: 2px;
    padding: 0;
  }

  textarea {
    height: 150px;
    width: 400px;
    float: left;
  }
}

#postform-frontpage {
  textarea {
    width: 90%;
    height: 200px;
  }
}

.common-top {
  text-align: center;
}

.title {
  text-align: center;
}

.title_sub {
  text-align: center;
}

.table-container {
  display: table;
  width: 100%;
  border-collapse: separate;
  border-spacing: 1px;
}
#active-logins {
  width: auto;
  border-collapse: collapse;
  border-spacing: 0px;
  .cell {
    padding: 2px 5px;
  }
}

.row {
  display: table-row;
}

.left-cell {
  display: table-cell;
  padding: 2px 5px;
  width: 100px;
  vertical-align: middle;
}

div[class^="cell"] {
  display: table-cell;
  vertical-align: middle;
}

.noalign-cell {
  display: table-cell;
  vertical-align: middle;
  padding-left: 5px;
}
#embed-cell {
  #post_embed_source {
    margin-top: 1px;
    height: 26px;
  }
  text-align: left;
}

.notsowide {
  width: 96px;
}

#post_name {
  float: left;
  width: 100%;
}

#post_embed_code {
  float: left;
}

#namefield-notify {
  float: left;
}

.form-createboard {
  width: 600px;
  .cell {
    text-align: left;
    padding-left: 5px;
  }
}

#modpost {
  text-align: left;
}

.label {
  display: inline-block;
  height: 100%;
}

select {
  float: left;
	margin-top: 2px;
}

#post_board_id {
  width: 100%;
}

h1 {
  text-align: center;
}

//============//
// ADMINPANEL //
//============//
#board-permissions, #board-properties, #board-reports, #board-bans, #board-rules {
  float: left;
  padding: 10px;
}
#permission-table, #reports-table, #bans-table, #rules-table {
  display: table;
  border-collapse: collapse;
  .cell {
    text-align: center;
    padding: 3px;
  }
}
#permission-form .left-cell {
  width: 150px;
}
#changepassword .left-cell {
  width: 150px;
}
.board-permission {
  padding: 2px;
}
#banform {
  display: table;
  margin-left: auto;
  margin-right: auto;
  input {
    margin-left: auto;
    margin-right: auto;
    min-width: 600px;
  }
}
//======//
// POST //
//======//

#post-subject {
  display: block;
  padding: 0px 0px 5px 2px;
}
video {
  height: 240px;
}

a.thumb img {
  width: 90%;
}

#singlepost {
  min-width: 0px;
}
.spoiler {
  color: black;
  background-color: black;
  border-radius: 3px;
}
.spoiler:hover {
  color: white;
  background-color: auto;
}

.bluequote {
  color: #61A0DB;
}

.greenquote {
  color: green;
}

//========//
// THREAD //
//========//
.thread {
  margin: 3px;
}
div[id^="answer"] {
  p {
    margin: 5px;
  }
  display: inline-block;
  max-width: 100%;
}

.file_single {
  float: left;
  display: inline-block;
  padding: 3px;
  margin-right: 5px;
}
.file_multiple {
  display: inline-block;
}
.filecontainer {
  float: left;
  padding: 5px;
}
.postinfo {
  padding: 1px 2px 2px;
}

.post {
  width: 100%;
  word-wrap: break-word;
}

div[id^="answer"][class="first"] {
  //align: left;
  height: 100%;
  width: 100%;
}

.answers {
  padding-left: 3px;
  div[id^="answer"] {
    width: auto;
    margin-bottom: 3px;
  }
}

.answercontainer {
  width: 100%;
}

//=========//
// BUTTONS //
//=========//

.button-postform {
  width: 96px;
  margin-left: 2px;
  border-spacing: 0px;
}

// THREAD MECHANICS //
.hidden {
  display: none;
}

//============//
// THREADLIST //
//============//
#threadlist {
  display: table;
  border-collapse: collapse;
  .cell {
    display: table-cell;
    text-align: left;
    min-width: 300px;
  }
  
  .left-cell {
    display: table-cell;
    text-aligh: left;
    min-width: 400px;
  }
}

// SETTINGS
#settings-popup, #login-popup, #create-popup, #profile-popup {
  position: fixed;
  top: 44px;
  right: 0px;
  padding: 5px;
  display: none;
}

#boards-popup {
  position: fixed;
  top: 44px;
  left: 55em;
  padding: 5px;
  display: none;
}

.tab-hidden {
  display: none;
}
.tab-content {
  border-top: 1px solid white;
}
.tab-links {
  margin-bottom: 1px;
}
.hidden_thread {
  width: 700px;
  border: 2px outset;
  border-radius: 6px;
  #threadid {
    display: inline-block;
    border-right: 1px solid;
    padding: 5px;
  }
  #threadsubject {
    display: inline-block;
    font-color: #60a0dc;
    padding: 5px;
  }
  #floater {
    float: right;
  }
  #hiddentime {
    display: inline-block;
    margin-right: auto;
    border-right: 1px solid;
    border-left: 1px solid;
    padding: 5px;
  }
  #unhide {
    display: inline-block;
    margin-right: auto;
    width: auto;
    padding: 5px;
  }
}
#changepassword {
  .label {
    width: 200px;
  }
}
.settings-select {
  width: 150px;
}

// REPORT
.report {
  display: none;
  position: fixed;
  left: 50px;
  top: 50px;
  width: 400px;
  padding: 10px;
  input[type="text"] {
    width: calc(100% - 5px);
  }
  select {
    width: 100%;
  }
}

.chat-container {
  width: 700px;
  height: 800px;
}

#chat-top {
  border-bottom: 1px solid black;
  height: 50px;
}
#chat-middle {
  height: 500px;
  background: #AAAAAA;
}
#chat-bottom {
  color: black;
  height: 100px;
}
#chat-messages {
  color: black;
  float: left;
  width: 500px;
  height: 500px;
  overflow: auto;
}
#chat-online {
  color: black;
  border-left: 1px solid black;
  padding-left: 10px;
  padding-top: 10px;
  float: left;
  width: 188px;
  height: 500px;
}
#messagefield-container {
  bottom: 20px;
}
#message {
  outline: none;
  width: 100%;
  height: 100%;
  border: 3px solid #cccccc;
  border-radius: 10px;
  -webkit-box-shadow: 3px 3px 8px 0px black;
  -moz-box-shadow:    3px 3px 8px 0px black;
  box-shadow:         3px 3px 8px 0px black;
}
#submit-container {
  width: 180px;
}
#footer {
  height: 150px;
}

// TABS
.tablink {
  margin: 2px;
  padding: 3px;
  border: 1px solid white;
  text-decoration: none;
}
.tablink-active {
  margin: 2px;
  padding: 3px;
  text-decoration: none;
  border-top: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid white;
  border-bottom: 1px solid black,
}
