<%= tag("div", { id: "answer-"+@post.id.to_s, }, true) %>
<div class="postinfo">
<% postname = @post.name.to_s.split("!") %>
<% if postname.length==2 %>
<span class="post-name"><%= postname[0] %></span><span class="post-tripcode"><%= "!"+postname[1] %></span>
<% else %>
<span class="post-name"><%= postname[0] %></span>
<% end %>
<span class="post-subject"><%= @post.subject %></span>
<%= @post.created_at.strftime("%d.%m.%Y %H:%M:%S") %>
<% if @post.mod %>
<span class="modpost">
#mod#
</span>
<% end %>
No. <%= link_to @post.id, "/"+@post.board.url+"/"+@post.thread_id.to_s+"/#q_"+@post.id.to_s %>
</div>

<% atts = Attachment.where(post_id: @post.id) %>
<% if atts.size>1 %>
<%= tag("div", { class: "file_multiple" }, true) %>
<% elsif atts.size==1 %>
<%= tag("div", { class: "file_single" }, true) %>
<% elsif atts.size==0 %>
<div>
<% end %>

<% atts.each do |a| %>
<div class="filecontainer">
<div class="fileinfo">
<% filepath = "/files/orig/"+a.name+"/"+a.orig_name %>
<%= link_to(a.orig_name.shorten_path(20), filepath) %>
<br>
( <%= a.information %>px, <%= number_to_human_size(a.size) %> )
</div>
<% filepath = "/files/thumb/"+a.name.to_s+"/"+a.orig_name %>
<% if a.mime.start_with? "video" %>
<%= video_tag(filepath, controls: true) %>
<% elsif a.mime == "audio/x-mpegurl" %>
<%= audio_tag(filepath, controls: true) %>
<% elsif a.mime.end_with? "webm" %>
<%= video_tag(filepath, controls: true) %>
<% elsif a.mime.start_with? "audio" %>
<%= video_tag(filepath, controls: true) %>
<% elsif a.mime ==  "application/mp4" %>
<%= video_tag(filepath, controls: true) %>
<% elsif a.mime == "audio/mpeg" %>
<%= video_tag(filepath, controls: true) %>
<% else %>
<%= link_to(image_tag(filepath), "", class: "thumb") %>
<% end %>
</div>
<% end %>
</div>

<div class="post">
<p><%= raw @post.message %></p>
</div> <!--End of post-->
</div> <!--End of answer-->

