// Place all the styles related to the overboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font:12px/1.5em Verdana, "DejaVu Sans", Sans-serif;
  background: #191919;
  color: white;
  .title {
    color: #60a0dc;
    font-size: 32px;
    font-family: "Times New Roman", Times, Sans-serif;
  }
}
.highlight {
  border: 5px dashed #60a0dc;
  border-radius: 5px;
} 
.op-post {
  color: green;
  font-weight: bold;
}

// FRONTPAGE
#news {
  border: 4px double #60a0dc;
}

.fp-post {
  background-color: #343439;
  border: 1px solid #60a0dc;
  border-radius: 3px;
}

.fp-postinfo {
  background-color: #202020;
  border-bottom: 1px solid black;
}

// SEARCH
.searchresults div[class^="cell"] {
  border: 1px solid white;
}

// TOOLTIPS
a.tooltip:hover .tooltip-out {
  border:1px solid #60a0dc;
}

.singlepost-tooltip div[id^="answer"] {
  border: 1px solid #60a0dc;
  border-radius: 5px;
}

a.tooltip .tooltip-out {
  font-size: 14px;
  border: 1px solid #60a0dc;
  border-radius: 5px;
  background-color: #252525;
  color: white;
}

// GENERAL
.boardnav {
  background: #393939;
  font-size: 0.9em;
  box-shadow: 1px 1px 5px 0px #000000;
  border-radius: 2px;
}
.boardnav-mobile {
  background: #191919;
}

#post-operations {
  background-color: #1C1C1C;
  border: 1px solid black;
}

.notice {
  background-color: #60a0dc;
  border-radius: 3px;
  color: black;
  font-weight: bold;
}

.report {
  background-color: black;
  border: 1px solid #999;
  box-shadow: 0px 0px 20px 0px #000;
  input {
    border: 1px solid #000;
    background-color: #AAA;
  }
}

// SIDEBAR
#left {
  background: black;
  font-size: 0.95em;
  #uname, #password {
    background: #444;
    color: white;
    border: 2px inset #60a0dc;
  }
  h1 {
    background-color: #60a0dc;
    color: #000;
    font-size: 16px;
    border-radius: 5px;
  }  
  .header {
    background-color: #60a0dc;
    color: #000;
    border-radius: 2px;
  }
  .category {
    font-weight: bold;
    line-height: 14px;
    color: white;
  }
  .ukkoElement {
    line-height: 14px;
  }
  #ukko {
    background: #0D0D0D;
    .fb-header {
      line-height: 20px;
      background-color: #601111;
      font-weight: bold;
    }
  }
  a {
    line-height: 14px;
    text-decoration: none;
    border-radius: 3px;
  }
  a#hanki {
    font-size: 12px;
    text-decoration: underline;
  }
  a:hover {
    background: #206098;
  }
}

// POSTFORM
#postform {
  .left-cell label {
    font-weight: bold;
  }
  input[type="text"] {
    border: 1px solid black;
    background-color: #AAAAAA;
  }
  input[type="password"] {
    border: 1px solid black;
  }
  textarea {
    border: 1px solid black;
    background-color: #AAAAAA;
  }
}
#postform-frontpage {
  input[type="text"] {
    border: 1px solid black;
    background-color: #AAAAAA;
  }
  textarea {
    border: 1px solid black;
    background-color: #AAAAAA;
  }
}

// OTHER
.title_sub {
  font-style: oblique;
}
.left-cell {
  background-color: #333;
  color: #60a0dc;
  border: 1px solid #444;
}
.help-tooltip-header {
  background-color: #60a0dc;
  color: black;
}
#namefield-notify {
  color: #60a0dc;
  font-weight: bold;
}
select {
  background-color: #aaa;
	border: 1px solid #888;
	color: #000;
}
h1 {
  color: #60a0dc;
}
a {
  color: #60a0dc;
}
a:visited {
  color: #60a0dc;
}

// ADMINPANEL
.yes {
  color: #0F0;
  font-weight: bold;
}
.no {
  color: #F00;
  font-weight: bold;
}
#permission-table, #reports-table, #bans-table, #rules-table {
  .cell {
    border: 1px solid white;
    margin: 2px;
  }
}
#reports-table {
  padding: 10px;
}
.board-permission {
  border-bottom: 1px solid white;
}

// BOARD LIST
.boards-table {
  display: table;
  border-collapse: collapse;
  .cell {
    border: 1px solid white;
    padding: 5px;
  }
}

// POST
.modpost {
  color: green;
}
.adminpost {
  color: purple;
  font-weight: bold;
}
.post-subject {
  color: #60a0dc;
  font-weight: bold;
  font-size: 16px;
}
.post-name {
  color: #93e3ff;
  font-weight: bold;
}
.post-tripcode {
  color: #93e3ff;
}
#content {
  color: white;
}
#singlepost {
  border: 1px solid #60a0dc;
  border-radius: 5px;
  background-color: #343439;
}
div[id^="singleanswer"] {
  border: 1px solid #60a0dc;
  border-radius: 5px;
  background-color: #343439;
}

// THREAD
.location {
  font-size: 0.9em;
}
.thread {
  background: #1c1c1c;
  border: 1px solid #333;
  border-radius: 5px;
}
div[id^="answer"] {
  background-color: #343439;
}
.fileinfo_single {
  background-color: #202020;
  border-bottom: 1px solid #111;
}
.file_single {
  background-color: #202020;
  border-right: 1px solid #111;
}
.file_multiple {
  background-color: #252525;
  border: 1px solid #111;
}
.filecontainer {
  font-size: 12px;
}
.postinfo {
  background-color: #44444f;
  border-bottom: 1px solid #1C1C1C;
}
div[id^="answer"][class="first"] {
  background-color: #1C1C1C;
  .postinfo {
    background-color: #252525;
  }
}
.answers {
  .answer {
    border: 1px solid #60a0dc;
    border-radius: 5px; 
  }
  .highlight {
    border: 3px dashed #60a0dc;
    border-radius: 5px;
  }
}

// BUTTONS
[class^="button"] {
  color: #60a0dc;
  font-size: 12px;
  padding: 2px 5px;
  text-decoration: none;
  border: 1px outset #999;
  background-color: #333;
}
[class^="button"]:hover {
  background-color: #444;
}
[class^="button"]:active {
  border-style: inset;
}
.button-postform {
  background-color: #AAA;
  color: black;
}

// THREAD MECHANICS
.expand {
  font-size: 11px;
}
.contract {
  font-size: 11px;
}

// THREADLIST
#threadlist {
  font-size: 14px;
  .cell {
    border: 1px solid white;
  }
  .left-cell {
    border: 1px solid white;
  }
}

// SETTINGS
#settings-popup, #login-popup, #create-popup, #profile-popup, #boards-popup {
  background: #393939;
  border-bottom-left-radius: 3px;
}
.tablink-active {
	border-bottom: 1px solid #191919;
}
