// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.result {
  border: 1px solid #60a0dc;
  margin-bottom: 5px;
  padding: 2px;
}

.result_subject {
  //float: left;
  margin-right: 5px;
}

.result_id {
  font-size: 10px;
}
