// Place all the styles related to the overboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font:10pt/1.28em arial, helvetica, Sans-serif;
  background: url('fade.png') repeat-x #FFE;
  color: #800000;
  .title {
    color: #800000;
    font: bold 28px tahoma;
  }
}

// FRONTPAGE
#news {
  border: 4px double #800;
}

.fp-post {
  background-color: #F0E0D6;
}

// SEARCH
.searchresults div[class^="cell"] {
  border: 1px solid white;
}

// TOOLTIPS
a.tooltip:hover .tooltip-out {
  border:1px dashed #800;
}

.singlepost-tooltip div[id^="answer"] {
  border: 1px solid #60a0dc;
  border-radius: 5px;
}

a.tooltip .tooltip-out {
  font-size: 14px;
  border: 1px dashed #800;
  border-radius: 5px;
  background-color: #FFE;
  color: #800000;
  padding: 3px;
}

// GENERAL
.boardnav {
  font-size: 0.9em;
  box-shadow: 1px 1px 3px 0px #000000;
	border-radius: 2px;
	a {
	  color: #800 !important;
	  text-decoration: none;
	}
	a:hover {
	  color: #DD0000 !important;
	}
}

#post-operations {
  background-color: #1C1C1C;
  border: 1px solid black;
}

.notice {
  background-color: #60a0dc;
  border-radius: 3px;
  color: black;
  font-weight: bold;
}

// SIDEBAR
#left {
  background: url('fade.png') repeat-x #FFE;
  font-size: 0.95em;
  #uname, #password {
    background: #444;
    color: white;
    border: 2px inset #60a0dc;
  }
  h1 {
    background-color: #FCA;
    color: #000;
    font-size: 18px;
    border-right: 1px solid #D9BFB7;
    border-bottom: 1px solid #D9BFB7;
  }  
  .header {
    background-color: #FCA;
    color: #000;
    padding-left: 3px;
  }
  .category {
    font-weight: bold;
    line-height: 14px;
    color: white;
  }
  .ukkoElement {
    line-height: 14px;
  }
  #ukko {
    background: #FFC;
    .fb-header {
      line-height: 20px;
      background-color: #601111;
      font-weight: bold;
    }
  }
  a {
    line-height: 14px;
    text-decoration: none;
    border-radius: 3px;
  }
  a#hanki {
    font-size: 12px;
    text-decoration: underline;
  }
  a:hover {
    background: #FFEECC;
  }
}

// POSTFORM
#postform {
  .left-cell label {
    font-weight: bold;
  }
}
#postform-frontpage {
  input[type="submit"] {
    text-decoration: none !important;
    color: #000;
  }
}

// OTHER
.title_sub {
  font-style: oblique;
}
.left-cell {
  background-color: #EA8;
  color: #800000;
  border: 1px solid #800;
}
#namefield-notify {
  color: #800000;
  font-weight: bold;
}
h1 {
  color: #800000;
}
a {
  color: #550;
}
a:visited {
  color: #550;
}
a:hover {
  color: #DD0000;
}

// ADMINPANEL
.yes {
  color: #0F0;
  font-weight: bold;
}
.no {
  color: #F00;
  font-weight: bold;
}
#permission-table .cell {
  border: 1px solid white;
}
.board-permission {
  border-bottom: 1px solid white;
}

// POST
.modpost {
  color: green;
}
.adminpost {
  color: purple;
  font-weight: bold;
}
.post-subject {
  color: #CC1105;
  font-weight: bold;
  font-size: 16px;
}
.post-name {
  color: #117743;
  font-weight: bold;
}
.post-tripcode {
  color: #117743;
}
#content {
  color: white;
}
#singlepost {
  border: 1px solid #60a0dc;
  border-radius: 5px;
  background-color: #F0E0D6;
}
div[id^="singleanswer"] {
  border: 1px solid #60a0dc;
  border-radius: 5px;
  background-color: #F0E0D6;
}

// THREAD
.location {
  font-size: 0.9em;
}
.thread {
  color: #800000;
  a {
    text-decoration: none;
  }
}
div[id^="answer"] {
  a, a:visited {
    color: #00E;
  }
  a:hover {
    color: #DD0000
  }
}
.filecontainer {
  font-size: 12px;
}
.postinfo {
}
div[id^="answer"][class="first"] {
  .postinfo {
  }
}
.answers div[id^="answer"] {
  background-color: #F0E0D6;
}

// BUTTONS
div [class^="button"], [class^="button"]:visited {
  text-decoration: none;
  text-decoration: underline !important;
  color: #00E;
}
[class^="button"]:hover {
  color: #DD0000;
}
[class^="button"]:active {
}
.button-postform {
  text-decoration: none !important;
  color: initial;
}

// THREAD MECHANICS
.expand {
  font-size: 11px;
}
.contract {
  font-size: 11px;
}

// THREADLIST
#threadlist {
  font-size: 14px;
  .cell {
    border: 1px solid white;
  }
  .left-cell {
    border: 1px solid white;
  }
}

// SETTINGS
#settings-popup, #login-popup, #create-popup, #profile-popup, #boards-popup {
  .left-cell {
    border: none;
  }
  background: #ea8;
  border-bottom-left-radius: 3px;
}
.tablink-active {
	border-bottom: 1px solid #191919;
}
.boardnav {
  background: #ea8;
  font-size: 0.9em;
  box-shadow: 1px 1px 5px 0px #000000;
  border-radius: 2px;
}
