<h1><%= t("board_list") %></h1>

<% Category.where.not(id: 1).includes(:boards).each do |c| %>
<h2><%= c.name %>:</h2>
<div class="boards-table">
<div class="row">
<div class="cell">
<%= t("board") %>
</div>
<div class="cell">
<%= t("title") %>
</div>
<div class="cell">
<%= t("description") %>
</div>
<div class="cell">
<%= t("total_posts") %>
</div>
</div>

<% c.boards.each do |b| %>
<div class="row">
<div class="cell">
<%= link_to "/#{b.url}/", "/#{b.url}/" %>
</div>
<div class="cell">
<%= b.name %>
</div>
<div class="cell">
<%= b.description %>
</div>
<div class="cell">
<%= b.postcount %>
</div>
</div>
<% end %>
</div>
<% end %>
