

<% @posts.each do |post| %>
<% user = @user %>
<div class = "answercontainer">
<%= tag("div", { class: "answer", id: "answer-"+post.id.to_s}, true) %>

<div class="postinfo">
<% unless post.subject.empty? %>
<p class="post-subject"><%= post.subject %></p>
<% end %>
<%= check_box_tag "select-"+post.id.to_s, class: "select" %>
<% postname = post.name.to_s.split("!") %>
<% if !user.hide_names %>
<% if postname.length==2 %>
<span class="post-name"><%= postname[0] %></span><span class="post-tripcode"><%= "!"+postname[1] %></span>
<% else %>
<span class="post-name"><%= postname[0] %></span>
<% end %>
<% end %>
<%= post.created_at.strftime("%d.%m.%Y %H:%M:%S") %>
<% if post.mod %>
<span class="modpost">#mod#</span>
<% end %>
<% if post.thread_id == 0 %>
No: <%= link_to post.id, "/"+post.board.url+"/"+post.id.to_s+"#q_"+post.id.to_s %>
<% else %>
No: <%= link_to post.id, "/"+post.board.url+"/"+post.thread_id.to_s+"#q_"+post.id.to_s %>
<% end %>
<%= link_to(image_tag("icon-hide.png"), "", { id: "hide_thread-"+post.id.to_s, class: "hide_thread" }) %>
<%= link_to(image_tag("report.png", size: "16x16"), "/report/#{post.id.to_s}", { class: "report_post" }) %>
<% if user.can_ban_from(post.board) %>
<%= link_to("Ban", "/#{post.board.url}/ban/#{post.ip}/#{post.id}", class: "button") %>
<% end %>
<% unless post.modinfo.nil? %>
<div>
<%= raw post.modinfo %>
</div>
<% end %>
</div>

<% atts = Attachment.where(post_id: post.id) %>
<% if atts.size>1 %>
<%= tag("div", { class: "file_multiple" }, true) %>
<% elsif atts.size==1 %>
<%= tag("div", { class: "file_single" }, true) %>
<% elsif atts.size==0 %>
<div>
<% end %>
<% atts.each do |a| %>
<div class="filecontainer">
<div class="fileinfo">
<% filepath = "/files/orig/"+a.name+"/"+a.orig_name %>
<%= link_to(a.orig_name.shorten_path(20), filepath) %>
<br>
( <%= a.information %>px, <%= number_to_human_size(a.size) %> )
</div>
<% filepath = "/files/thumb/"+a.name.to_s+"/"+a.orig_name %>
<%= link_to(image_tag(filepath), "", class: "thumb") %>
</div>
<% end %>
</div>

<div class="post">
<p><%= raw post.message %></p>
</div>

</div>
</div>
<% end %>
