<% user = @user %>
<h1>Pohjoislauta</h1>
<p class="title_sub">Suomen vapain kuvalauta</p>
<div class="horline"></div>
<div id="frontpage-content">
<div id="news">
<h1>Sivun uutiset:</h1>
<% if user.has_perm("Admin") %>
<div id="postform-frontpage">
<% post = FrontpagePost.new %>
<%= form_for post, url: "/frontpagepost" do |f| %>
<%= f.label :subject %>
<br>
<%= f.text_field :subject %>
<br>
<%= f.label :text %>
<br>
<%= f.text_area :text %>
<%= f.submit "Create new frontpage post", class: "button" %>
<% end %>
</div>
<% end %>

<% @posts.each do |p| %>
<div class="fp-post">
<div class="fp-postinfo">
<%= p.subject %> by <%= p.user.uname %> at <%= p.created_at.strftime("%d.%m.%Y %H:%M:%S") %>
</div>
<p>
<%= p.text %>
</p>
</div>
<% end %>

</div>
<div id="mainstuff">
<p>
Pohjoislaudalla voit luoda oman keskustelualueesi eli alalautasi mistä tahansa aiheesta - peleistä, animesta tai vaikka isoäitisi villasukista. Teknistä kokemusta tai sitoutumista mihinkään ei vaadita. Palvelu on myös täysin ilmainen nyt ja tulevaisuudessa. Pyrimme rajoittamaan alalautasi keskustelua mahdollisimman vähän: saat itse valita alalautasi aiheen ja valvoa sitä miten haluat.
<div id="twobuttons">
<a class="button" href="/createboard">Luo uusi keskustelualue</a>
<a class="button" href="/browse">Selaa keskustelualueita</a>
</div>

<div class="chat-container">
<div id="chat-top">
</div>
<div id="chat-middle">
<div id="chat-messages">

</div>
<div id="chat-online">
<b>Users online:</b>
<div id="chat-online-list">

</div>
</div>
</div>
<div id="chat-bottom">
<div id="messagefield-container">
<%= text_area_tag "message" %>
</div>
<div id="submit-container">
<%= submit_tag "Send", id: "submit" %>
</div>
</div>
</div>

</div>
</div>
