<!--Board pages-->
<% if @page>0 %>
<%= link_to("Previous", "/"+@board.url+"-"+@page.to_s, class: "button") %>
<% else %>
<span class="button-unclickable">Previous</span>
<% end %>

<% if @page<=4 %>
<% [10, @pages].min.times do |i| %>
<%= link_to((i+1).to_s, "/"+@board.url+"-"+(i+1).to_s) %>
<% end %>
<% elsif @page>4 %>
<% (@page-4).upto([@pages-1, @page+4].min) do |i| %>
<%= link_to((i+1).to_s, "/"+@board.url+"-"+(i+1).to_s) %>
<% end %>
<% end %>

<% if @page<@pages-1 %>
<%= link_to("Next", "/"+@board.url+"-"+(@page+2).to_s, class: "button") %>
<% else %>
<span class="button-unclickable">Next</span>
<% end %>
<br>
