<% @posts.each do |post| %>
<div class="thread">
<% if post.thread_id==0 %>
<%= tag("div", { id: "answer-"+post.id.to_s, class: "first" }, true) %>
<% else %>
<% has_answers = true %>
<div class="answers">
<div class="answercontainer">
<%= tag("div", { id: "answer-"+post.id.to_s, class: "answer" }, true) %>
<% end %>

<div class="postinfo">
<p class="post-subject"><%= post.subject %></p>
<%= check_box_tag "select-"+post.id.to_s, class: "select" %>
<% postname = post.name.to_s.split("!") %>
<% if !@user.hide_names %>
<% if postname.length==2 %>
<span class="post-name"><%= postname[0] %></span><span class="post-tripcode"><%= "!"+postname[1] %></span>
<% else %>
<span class="post-name"><%= postname[0] %></span>
<% end %>
<% end %>
<%= post.created_at.strftime("%d.%m.%Y %H:%M:%S") %>
<% if post.mod %>
<span class="modpost">#mod#</span>
<% end %>
<% if post.thread_id == 0 %>
No: <%= link_to post.id, "/"+post.board.url+"/"+post.id.to_s+"#q_"+post.id.to_s %>
<% else %>
No: <%= link_to post.id, "/"+post.board.url+"/"+post.thread_id.to_s+"#q_"+post.id.to_s %>
<% end %>
<%= link_to(image_tag("icon-hide.png"), "", { id: "hide_thread-"+post.id.to_s, class: "hide_thread" }) %>
<%= link_to(image_tag("report.png", size: "16x16"), "/report/#{post.id.to_s}", { class: "report_post" }) %>
<% if post.thread_id==0 %>
<%= link_to("Reply", "/#{post.board.url}/#{post.id.to_s}", class: "button") %>
<% if @user.perm("stick", post.board.url) %>
<% if post.sticky %>
<%= link_to("Unstick", "/#{post.board.url}/unstick/#{post.id}", class: "button") %>
<% else %>
<%= link_to("Stick", "/#{post.board.url}/stick/#{post.id}", class: "button") %>
<% end %>
<% if @user.perm("lock", post.board.url) %>
<%= link_to("Lock", "/#{post.board.url]/lock/#{post.id}", class: "button") %>
<% end %>
<% end %>
<% if @user.can_ban_from(post.board) %>
<%= link_to("Ban", "/#{post.board.url}/ban/#{post.ip}/#{post.id}", class: "button") %>
<% end %>
<% unless post.modinfo.nil? %>
<div>
<%= raw post.modinfo %>
</div>
<% end %>
</div>

<% if !post.embed_code.nil? %>
<% if post.embed_code!=0 && post.embed_source!=0 && post.embed_source!=nil %>
<div class="filecontainer">
<% source = EmbedSource.find(post.embed_source) %>
<% output = source.embed_code %>
<% output["[WIDTH]"] = source.width.to_s %>
<% output["[HEIGHT]"] = source.height.to_s %>
<% output["[EMBEDID]"] = post.embed_code %>
<%= raw source.embed_code %>
</div>
<% end %>
<% end %>

<% atts = Attachment.where(post_id: post.id) %>
<% if atts.length>1 %>
<%= tag("div", { class: "file_multiple" }, true) %>
<% elsif atts.length==1 %>
<%= tag("div", { class: "file_single" }, true) %>
<% elsif atts.length==0 %>
<div>
<% end %>

<% atts.each do |a| %>
<div class="filecontainer">
<div class="fileinfo">
<% filepath = "/files/orig/"+a.name+"/"+a.orig_name %>
<%= link_to(a.orig_name.shorten_path(20), filepath) %>
<br>
( <%= a.information %>px, <%= number_to_human_size(a.size) %> )
</div>
<% filepath = "/files/thumb/"+a.name.to_s+"/"+a.orig_name %>
<% if a.mime.start_with? "video" %>
<%= video_tag(filepath, controls: true) %>
<% elsif a.mime == "audio/x-mpegurl" %>
<%= audio_tag(filepath, controls: true) %>
<% elsif a.mime.end_with? "webm" %>
<%= video_tag(filepath, controls: true) %>
<% elsif a.mime.start_with? "audio" %>
<%= video_tag(filepath, controls: true) %>
<% elsif a.mime ==  "application/mp4" %>
<%= video_tag(filepath, controls: true) %>
<% elsif a.mime == "audio/mpeg" %>
<%= video_tag(filepath, controls: true) %>
<% else %>
<%= link_to(image_tag(filepath), "", class: "thumb") %>
<% end %>
</div>
<% end %>
</div>

<div class="post">
<p><%= raw post.message %></p>
</div>
</div>

<% if post.thread_id!=0 %>
</div>
</div>
<% end %>

</div>
<div class="horline"></div>
<% end # each post %>
