<div id="postform">
<%= form_for(@post, url: "/post") do |f|%>
<%= f.hidden_field :thread_id %>
<%= invisible_captcha %>
<div class="row">
<div class="left-cell"><%= f.label t("Op"), class: "label" %></div>
<div class="cell"><%= f.check_box :posted_by_op, checked: true %></div>
</div>

<% if @board.namefield != 0 %>
<div class="row">
<div class="left-cell"><%= f.label :name, class: "label" %></div>
<div class="cell"><%= f.text_field :name %>
<% if @board.namefield == 1 %>
<span id="namefield-notify"><%= t("only_tripcodes_allowed") %></span>
<% end %>
</div>
</div>
<% end %>

<div class="row">
<div class="left-cell"><%= f.label :Selections, t("selections"), class: "label" %></div>
<div>
<%= f.check_box :sage %>
<%= f.label :sage, id: "sage" %>
<%= f.check_box :rage %>
<%= f.label :rage, id: "rage" %>
<%= f.check_box :love %>
<%= f.label :love, id: "love" %>
<%= f.check_box :noko %>
<%= f.label :noko, id: "noko" %>
</div>
</div>

<% if @inboard %>
<%= f.hidden_field :board_id %>
<% else %>
<div class="row">
<div class="left-cell"><%= f.label :board, t("board"), class: "label" %></div>
<div class="cell">
<%= f.select("board_id", @user.overboard.boards.collect {|b| [b.name, b.id] }) %>
</div>
</div>
<% end %>

<div class="row">
<div class="left-cell"><%= f.label :subject, t("subject"), class: "label" %></div>
<div class="cell"><%= f.text_field :subject %>
<%= f.submit class: "button-postform" %></div>
</div>

<div class="row">
<div class="left-cell"><%= f.label :message, t("message"), class: "label" %></div>
<div class="cell"><%= f.text_area :message %></div>
</div>

<div class="row">
<div class="left-cell"><%= f.label :embed, t("embed"), class: "label" %></div>
<div id="embed-cell" class="cell"><%= f.text_field :embed_code %><%= f.select :embed_source, EmbedSource.all.collect {|e| [e.name, e.id]} %>

<a href="#" class="tooltip">
<%= t("embed_help") %>
<span class="tooltip-out">
<div class="help-tooltip-header">
<%= t("copy_this") %>
</div>
<% EmbedSource.all.each do |e| %>
<b><%= e.name %>: </b><%= raw e.help %>
<br>
<% end %>
</span>
</a>

</div>
</div>

<div class="row">
<div class="left-cell"><%= f.label :attachments, t("attachments"), class: "label" %></div>
<div class="cell"><%= f.file_field :attachments, multiple: true %></div>
</div>

<% if @inboard %>
<% if @board.user == @user %>
<div class="row">
<div class="left-cell"><%= f.label :other, t("other"), class: "label" %></div>
<div class="cell" id="modpost">
<%= f.check_box :mod %>
<%= f.label :modpost, t("modpost") %>
</div>
</div>
<% end %>
<% end %>
<% end %>
</div>
