<% @logins = @user.logins.order(updated_at: :desc) %>
<p>
<%= t("change_password") %>
<div id="changepassword" class="table-container">
<%= form_tag("settings/changepassword") do %>
<div class="row">
<div class="left-cell"><%= label_tag( :oldpass, t("old_password") ) %></div>
<div class="cell"><%= password_field_tag( :oldpass ) %></div>
</div>
<div class="row">
<div class="left-cell"><%= label_tag( :newpass, t("new_password") ) %></div>
<div class="cell"><%= password_field_tag( :newpass ) %></div>
</div>
<div class="row">
<div class="left-cell"><%= label_tag( :newpass2, t("new_password_again") ) %></div>
<div class="cell"><%= password_field_tag( :newpass2 ) %></div>
</div>
<%= submit_tag t("change_password2"), class: "button" %>
<% end %>
</div>
</p>
<p>
<%= t("active_logins") %>
</p>
<div class="table-container" id="active-logins">
  <div class="row">
    <div class="cell">
      <%= t("login_source") %>
    </div>
    <div class="cell">
      <%= t("login_time") %>
    </div>
    <div class="cell">
      <%= t("login_last_load") %>
    </div>
    <div class="cell">
      <%= t("login_actions") %>
    </div>
  </div>
  <% @logins.each do |l| %>
  <div class="row">
    <div class="cell">
      <%= l.series == cookies.signed[:hb_series] ? t("this_computer"): l.browser %>
    </div>
    <div class="cell">
      <%= l.created_at.strftime("%d.%m.%Y %H:%M:%S") %>
    </div>
    <div class="cell">
      <%= l.updated_at.strftime("%d.%m.%Y %H:%M:%S") %>
    </div>
    <div class="cell">
      <% if l.series == @series %>
      <%= t("current_session") %>
      <% else %>
      <%= link_to(t("logout"), "logout/"+l.id.to_s) %>
      <% end %>
    </div>
  </div>
  <% end %>
</div>
