<%= form_for( @user, url: "/settings/save" ) do |f| %>

<p>
<%= f.label(t("stylesheet")) %><br>
<% arr2 = [["Use board defaults", ""],
          ["Northboard", "northboard"],
          ["Dark", "dark"],
          ["Orange", "orange"],
          ["Yotsuba", "yotsuba"]] %>
<%= select_tag("stylesheet", options_for_select(arr2, @user.stylesheet), {class: "settings-select"}) %>
</p>
<br>
<p>
<%= f.label t("return_after_post") %>
<br>
<% arr3 = [["Board", 0],
          ["Thread", 1],
          ["Overboard", 2]] %>
<%= select_tag("post_noko", options_for_select(arr3, @user.post_noko), {class: "settings-select"}) %>
</p>
<br>
<p>
<%= f.label t("language") %>
<br>
<% arr4 = [["English", "en-US"],
          ["Finnish", "fi-FI"]] %>
<%= select_tag("locale", options_for_select(arr4, @user.locale), {class: "settings-select"}) %>
</p>
<br>
<p>
<%= f.check_box :save_scroll %>
<%= f.label t("dont_scroll") %>
</p>

<p>
<%= f.check_box :hide_names %>
<%= f.label t("anonymize_all") %><br>
</p>

<p>
<%= f.check_box :hide_region %>
<%= f.label t("hide_region") %>
</p>

<h3><%= t("performance") %></h3>
<%= t("unchecking_notice") %>
<p>
<%= f.check_box :autoload_media %>
<%= f.label t("autoload_media") %>
</p>
<p>
<%= f.check_box :autoplay_gifs %>
<%= f.label t("auto_animate") %>
</p>
<br>

<%= f.submit t("save_settings") %><br>

<% end %>

<h3><%= t("hidden_threads") %></h3>
<% hidden = Hide.where(uid: @user.uid) %>
<% hidden.each do |h| %>
<%= tag("div", { class: "hidden_thread", id: h.post.to_s }, true) %>
<div id="threadid">
ID: <%= h.post %>
</div>
<div id="threadsubject">
<% s = Post.find(h.post).subject.to_s %>
<% if s=="" %>
<%= raw Post.find(h.post).message.my_strip(40, "...") %>
<% else %>
<%= Post.find(h.post).subject.my_strip(40, "...") %>
<% end %>
</div>
<div id="floater">
<div id="hiddentime">
<%= h.time.to_s %>
</div>
<%= link_to(image_tag("icon-restore.png"), "", { id: "unhide", title: "restore thread" }) %>
</div>
</div>
<% end %>
