<% if @user.stylesheet == "" %>
<%= /href="(.+)"/.match(stylesheet_link_tag("northboard")).captures[0] %>
<% else %>
<%= /href="(.+)"/.match(stylesheet_link_tag(@user.stylesheet)).captures[0] %>
<% end %>
