
<% has_answers = false %>
<% permissions = @user.dump_perms %>
<% @threads.each_with_index do |b, index| %>
<div class="thread">
<% omitted = b.delete_at(1) %>
<% @threads[index].each_with_index do |post, i| %>
<% if i==0 %>
<%= tag("div", { id: "answer-"+post.id.to_s, class: "first" }, true) %>
<% elsif i==1 %>
<% has_answers = true %>
<div class="answers">
<% msg=omitted.to_s+" messages omitted." %>
<%= tag("span", { class: "expand" }, true) %>
<%= link_to msg, "" unless omitted <= 0 %></span>
<div class="answercontainer">
<%= tag("div", { id: "answer-"+post.id.to_s, class: "answer" }, true) %>
<% else %>
<div class="answercontainer">
<%= tag("div", { id: "answer-"+post.id.to_s, class: "answer" }, true) %>
<% end %>

<div class="postinfo">
<% if @show_board && i==0 %>
<p class="location">
Thread location: <%= link_to("/#{post.board.url}/ - #{post.board.name}", "/#{post.board.url}") %>
</p>
<% end %>
<% if !post.subject.empty? %>
<p class="post-subject"><%= post.subject %></p>
<% end %>
<%= check_box_tag "select-"+post.id.to_s, class: "select" %>
<% if post.board.international %>
<% if post.geoip_country_code != nil %>
<% if post.geoip_country_code.length == 2 %>
<%= image_tag "flags/png/"+post.geoip_country_code+".png" %>
<% end %>
<% end %>
<% end %>
<% if post.posted_by_op %>
<span class="op-post">(OP)</span>
<% end %>
<% postname = post.name.to_s.split("!") %>
<% if !@user.hide_names %>
<% if postname.length==2 %>
<span class="post-name"><%= postname[0] %></span><span class="post-tripcode"><%= "!"+postname[1] %></span>
<% else %>
<span class="post-name"><%= postname[0] %></span>
<% end %>
<% end %>
<%= post.created_at.strftime("%d.%m.%Y %H:%M:%S") %>
<% if post.mod %>
<span class="modpost">#mod#</span>
<% end %>
<% if post.thread_id == 0 %>
<% puts post.deleted_time %>
No: <%= link_to post.id, "/"+post.board.url+"/"+post.id.to_s+"#q_"+post.id.to_s %>
<% else %>
No: <%= link_to post.id, "/"+post.board.url+"/"+post.thread_id.to_s+"#q_"+post.id.to_s %>
<% end %>
<% if post.sticky %>
<%= image_tag("icon-sticky.png") %>
<% end %>
<% if post.locked %>
<%= image_tag("icon-locked.png") %>
<% end %>
<%= link_to(image_tag("icon-hide.png"), "", { id: "hide_thread-"+post.id.to_s, class: "hide_thread" }) %>
<%= link_to(image_tag("report.png", size: "16x16"), "/report/#{post.id.to_s}", { class: "report_post" }) %>
<% if post.sage %>
<span class="post-sage">Sage</span>
<% end %>
<% if post.rage %>
<span class="post-rage">Rage!</span>
<% end %>
<% if post.love %>
<span class="post-love">Love</span>
<% end %>
<% if i==0 %>
<%= link_to("Reply", "/#{post.board.url}/#{post.id.to_s}", class: "button") %>
<% end %>

<% if permissions[post.board.id.to_s] != nil %>
<% if permissions[post.board.id.to_s]["ban"] == true %>
<%= link_to("Ban", "/#{post.board.url}/ban/#{post.ip}/#{post.id}", class: "button") %>
<% end %>
<% if permissions[post.board.id.to_s]["stick_threads"] == true %>
<% if post.sticky %>
<%= link_to("Unstick", "/#{post.board.url}/unstick/#{post.id}", class: "button") %>
<% else %>
<%= link_to("Stick", "/#{post.board.url}/stick/#{post.id}", class: "button") %>
<% end %>
<% end %>
<% if permissions[post.board.id.to_s]["lock_threads"] == true %>
<% if post.locked %>
<%= link_to("Unlock", "/#{post.board.url}/unlock/#{post.id}", class: "button") %>
<% else %>
<%= link_to("Lock", "/#{post.board.url}/lock/#{post.id}", class: "button") %>
<% end %>
<% end %>
<% end %>

<% unless post.modinfo.nil? %>
<div>
<%= raw post.modinfo %>
</div>
<% end %>
</div>

<% if !post.embed_code.nil? %>
<% if post.embed_code!=0 && post.embed_source!=0 %>
<div class="filecontainer">
<% begin %>
<% source = EmbedSource.find(post.embed_source) %>
<% output = source.embed_code %>
<% output["[WIDTH]"] = source.width.to_s %>
<% output["[HEIGHT]"] = source.height.to_s %>
<% output["[EMBEDID]"] = post.embed_code %>
<%= raw source.embed_code %>
<% rescue ActiveRecord::RecordNotFound => e %>
Embed not implemented
<% end %>
</div>
<% end %>
<% end %>

<% atts = @preloaded_attachments.where(post_id: post.id) %>
<% if atts.length>1 %>
<%= tag("div", { class: "file_multiple" }, true) %>
<% elsif atts.length==1 %>
<%= tag("div", { class: "file_single" }, true) %>
<% elsif atts.length==0 %>
<div>
<% end %>

<% atts.each do |a| %>
<div class="filecontainer">
<div class="fileinfo">
<% filepath = "/files/orig/"+a.name+"/"+a.orig_name %>
<%= link_to(a.orig_name.shorten_path(20), filepath) %>
<br>
( <%= a.information %>px, <%= number_to_human_size(a.size) %> )
</div>
<% filepath = "/files/thumb/"+a.name.to_s+"/"+a.orig_name %>
<% if a.mime.start_with? "video" %>
<%= video_tag(filepath, controls: true) %>
<% elsif a.mime == "audio/x-mpegurl" %>
<%= audio_tag(filepath, controls: true) %>
<% elsif a.mime.end_with? "webm" %>
<%= video_tag(filepath, controls: true) %>
<% elsif a.mime.start_with? "audio" %>
<%= video_tag(filepath, controls: true) %>
<% elsif a.mime ==  "application/mp4" %>
<%= video_tag(filepath, controls: true) %>
<% elsif a.mime == "audio/mpeg" %>
<%= video_tag(filepath, controls: true) %>
<% else %>
<%= link_to(image_tag(filepath), "/files/orig/"+a.name+"/"+a.orig_name, class: "thumb") %>
<% end %>
</div>
<% end %>
</div>

<div class="post">
<p><%= raw post.message %></p>
</div>
</div>

<% if i!=0 %>
</div>
<% end %>
<% end # each post %>
<% if has_answers==true %>
</div>
<% end %>
<% has_answers = false %>
</div>
<div class="horline"></div>
<% end # each thread %>
