<% user = @user %>
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Pohjoislauta</title>
  <% I18n.locale = @user.locale[0..1] %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <% if user.stylesheet == nil || user.stylesheet == "" %>
    <%= stylesheet_link_tag "northboard", {media: "all", id: "dynamic-stylesheet"} %>
  <% else %>
    <%= stylesheet_link_tag user.stylesheet, {media: "all", id: "dynamic-stylesheet"} %>
  <% end %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <% if !user.save_scroll %>
  <script>
    $(window).unload(function() {
      window.scrollTo(0,0);
      window.location.reload();
    });
  </script>
  <% end %>
  <%= csrf_meta_tags %>
</head>
<body data-no-turbolink="true">
<div class="loading-cache"><%= image_tag "loading.gif" %></div>
<div id="wrapper">

<div id="right">
<div class="boardnav">
[ <%= link_to t("front_page"), "/" %>
 | <%= link_to t("my_threads"), "/mythreads" %>
 | <%= link_to t("replied"), "/repliedthreads" %>
 | <%= link_to t("followed_boards"), "/ukko" %>
 | <%= link_to t("all_boards_spec"), "/all" %> ] [
 <% boards = Category.find(1).boards.select("name", "url") %>
 <% boards.each_with_index do |b, i| %>
 <% if i != 0 %>| <% end %>
 <%= link_to b.name, "/"+b.url %>
 <% end %>
 ]
 [ <%= link_to t("all_boards"), "/browse", {id: "dynamic-boards"} %> ]
<div style="float:right;">
<% if @user.password.empty? %>
[ <%= link_to t("login"), "/login", id: "dynamic-login" %>
 | <%= link_to t("create_account"), "/settings#account", id: "dynamic-create" %> ]
<div id="login-popup">
<div id="login">
<%= form_tag("/login", method: "post") do %>

<div class="row">
<div class="cell"><%= text_field_tag "uname" %></div>
</div>

<div class="row">
<div class="cell"><%= password_field_tag "password" %></div>
</div>

<div class="row">
<div class="cell"><%= submit_tag t("login"), class: "button" %></div>
</div>
<% end %>
</div>
</div>
<div id="create-popup">
<div id="createaccount" class="table-container">
<%= form_tag("settings/createaccount") do %>
<div class="row">
<div class="left-cell"><%= label_tag( :uname, t("username")) %></div>
<div class="cell"><%= text_field_tag( :uname ) %></div>
</div>
<div class="row">
<div class="left-cell"><%= label_tag( :password, t("password") ) %></div>
<div class="cell"><%= password_field_tag( :password ) %></div>
</div>
</div>
<%= submit_tag t("create_account"), class: "button" %>
<% end %>
</div>
<% else %>
[ <%= link_to(@user.uname, "/settings#account", id: "dynamic-profile") %> ]
<div id="profile-popup">
<%= render file: "profile" %>
</div>
<% end %>
<%= link_to(image_tag("settings.png", style:"width:24px;"), "/settings", id: "settings-icon") %>
<div id="settings-popup">
<%= render file: "settings" %>
</div>
<div id="boards-popup">
<%= render file: "dynamic-boards" %>
</div>
</div>
</div>
<br>
<br>
<center><h4>Pohjoislaulla on nyt telegram-ryhmä <a href="https://telegram.me/pohjoislauta">täällä</a></h4></center>

<%= yield %>
<div id="post-operations">
<p>

<a id="select-all" href="#">Select all</a>
</p>
<p>
<%= text_field_tag("filename", nil, { id: "filename-field" }) %>
<a id="image-download" class="button" href=""><%= t("download_images") %></a>
</p>
<p>
<a id="post-delete" class="button" href=""><%= t("delete_posts") %></a>
</p>
</div>

<%= form_tag "/deleteposts", id: "deleteposts" do %>
<% end %>
<div class="singlepost-tooltip"></div>
<div class="report">
<%= form_tag "/report", { id: "report_post" } do %>
<% if !@board.nil? %>
<% reasons = ReportReason.where("board_id IS NULL OR board_id = ?", @board.id) %>
<% else %>
<% reasons = ReportReason.where(board_id: nil) %>
<% end %>
<%= t("how_breaks_rules") %>
<p>
<%= label_tag t("reason") %>
<br>
<%= select_tag "reason", options_from_collection_for_select(reasons, "id", "name") %>
</p>
<br>
<p>
<%= label_tag t("description") %>
<br>
<%= text_field_tag "description" %>
</p>
<%= submit_tag t("submit") %>
<% end %>
</div>
<% if Rails.env.development? %>
<%= console %>
<% end %>
<div id="footer">
</div>
</div>
</div>
</body>
</html>
